.link {
    display: block;
    padding: 0.5em 0;

}

.link {
    background-color: rgb 169, 168, 168;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

link i {
    padding: 0 1em;
}
