div {
  border: 1px solid #000;
  border-collapse: collapse ;
}

.navbar {
  grid-area: header;

}

.note-list{
  grid-area: note-list
}

aside{
  grid-area: aside;
}

.add-note{
  grid-area: add-note;
}

.App {
  display: grid;
  grid-template-areas:
  "header header header header header"
  "aside add-note add-note add-note add-note"
  "aside note-list note-list note-list note-list"
  
  
  
  
  
  ;
}